@import "vars";
@import "mixins";
// @붙이면 가져올수 있다. (import할때는 제목의 언더바를 붙이지 않는다)

body {
  color: #111;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

//이미지는 글자처럼 처리된다.
img {
  vertical-align: top;
  //이걸쓰면 이미지 위로 붙여 준다. 안쓰면 이미가 살짝 벌어짐
}

button,
input {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

#header {
  height: 100px;
  border-bottom: 1px solid#ccc;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 99;
  .container {
    display: flex;
    margin: auto;
    width: 95%;
    justify-content: space-between;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav {
    > ul {
      display: flex;
      > li {
        width: 200px;
        padding: 0 10px;
        position: relative;
        &:hover {
          .depth02 {
            opacity: 1;
            margin-top: -10px;
            pointer-events: auto;
          }
        }
        .depth01 {
          display: flex;
          justify-content: center;
          height: 100px;
          align-items: center;
          font-weight: 600;
        }
        .depth02 {
          position: absolute;
          background-color: #fff;
          box-sizing: border-box;
          left: 20px;
          width: 180px;
          padding: 20px 0;
          border-radius: 10px;
          opacity: 0;
          transition: all 0.25s ease;
          pointer-events: none;
          color: #333;
          li {
            font-size: 16px;
            padding: 10px;
            text-align: center;
            &:hover {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .menu {
    display: flex;
    ul {
      display: flex;
      align-items: center;
      li {
        padding-left: 10px;
        span {
          &:before {
            content: "";
            height: 1px;
            width: 20px;
            background-color: #333;
            display: block;
          }
          &:nth-child(1):before {
            margin-bottom: 5px;
          }
          &:nth-last-child(1):before {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
